<!DOCTYPE html>
{% load static %}
{% load avatar_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Homepage{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
      h2, h1, p, div, a {
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
    </style>
    <link rel="stylesheet" href="static/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #005EA2; opacity: 0.90">
    <a class="navbar-brand" href="#" style="color: white; display: flex; align-items: center;">
      <img src="{% static 'bijaka.png' %}" alt="Deskripsi gambar" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'berita' %}" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_berita' %}" style="color: white;">List Berita</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"> <!-- ml-auto pushes the items to the right -->
        {% if user.is_authenticated %}
            <li class="nav-item">
              <div class="d-flex align-items-center">
                <img src="{% avatar_url user 24 %}" style="width: 40px; height: 40px;" alt="{{ user.username }} Avatar" class="rounded-circle mr-2">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal" style="color: white;">
                    {{ user.username }}
                </a>
            </div>            
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal" style="color: white;">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
            </li>
        {% endif %}
    </ul>
    </div>
</nav>
<div class="container mt-4" style="margin-top: 7em !important;">
        {% block content %}
        
        {% endblock %}
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="logoutModalLabel">Konfirmasi Logout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Apakah anda yakin ingin logout?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 20px;">Batal</button>
                <a class="btn btn-danger" id="confirmLogoutBtn" href="{% url 'logout' %}" style="border-radius: 20px;">Konfirmasi Logout</a>
              </div>
          </div>
      </div>
  </div>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<!-- Add this script after your modal script -->
<script>
  $(document).ready(function() {
      $('#logoutModal').on('hidden.bs.modal', function () {
          // Reset the modal content when it's hidden
          $(this).find('.modal-body').html('Are you sure you want to logout?');
      });

      $('#confirmLogoutBtn').on('click', function() {
          window.location.href = "{% url 'logout' %}";
      });
  });
</script>
</body>
</html>
