{% extends 'base.html' %}

{% block title %}Detail Berita - {{ hasil_scrape.judul }}{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert" style="margin-top: 3em;">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% if hasil_scrape %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ hasil_scrape.judul }}</h2>
            <p class="card-text text-justify">{{ hasil_scrape.konten }}</p>
            <p class="card-text"><small class="text-muted">Sumber: <a href="{{hasil_scrape.link}}" target="_blank">{{ hasil_scrape.portal }}</a></small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="mb-4">Komentar: </h3>
            <h5 style="opacity: 75%; margin-top: 0.29em;"><strong>({{ hasil_scrape.jumlah_komentar }} Komentar)</strong></h5>
        </div>
    
        {% if filtered_komentar|length == komentar|length %}
            <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <form id="predict-form" method="post" action="{% url 'predict_comments' berita_id=hasil_scrape.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button id="predict-button" type="submit" class="btn mx-2" style="border-radius: 20px; background-color: #005EA2; color: white;">
                        <span id="button-text"><strong>Prediksi Komentar</strong></span>
                        <span id="loading-spinner" style="display: none;">Sedang menganalisis komentar...</span>
                    </button>
                </form>
            </div>
        {% else %}
        <div class="col-12 col-md-6 d-flex justify-content-md-end">
            <div class="d-flex flex-wrap">
                <div class="d-flex align-items-center justify-content-center mx-1 mb-2" style="width: 100px; height: 35px; border-radius: 20px; border: 3px solid #dc3545; font-size: 14px; font-weight: bold; color: #dc3545;">
                    Hate: {{ hate_count }}
                </div>
                <div class="d-flex align-items-center justify-content-center mx-1 mb-2" style="width: 120px; height: 35px; border-radius: 20px; border: 3px solid #007bff; font-size: 14px; font-weight: bold; color: #007bff;">
                    Non-hate: {{ non_hate_count }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Username</th>
                    <th>Komentar</th>
                    <th>Prediksi</th>
                    <th>Probabilitas</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                {% for komentar_instance in komentar %}
                    <tr class="align-items-center">
                        <td data-label="Username"><strong>{{ komentar_instance.penulis_komentar }}</strong></td>
                        <td data-label="Komentar">{{ komentar_instance.isi_komentar }}</td>
                        <td data-label="Prediksi" class="text-center">
                            {% if komentar_instance.prediksi == 'Hate' %}
                                <span class="badge badge-danger">{{ komentar_instance.prediksi }}</span>
                            {% elif komentar_instance.prediksi == 'Non-Hate' %}
                                <span class="badge badge-primary">{{ komentar_instance.prediksi }}</span>
                            {% else %}
                                <span class="badge badge-secondary">Belum diprediksi</span>
                            {% endif %}
                        </td>
                        <td data-label="Probabilitas" class="text-center">{{ komentar_instance.formatted_probabilitas }}</td>
                        <!-- {% if komentar_instance.prediksi != None %}
                        <td class="text-center">
                            {% if komentar_instance.prediksi and not komentar_instance.edit_prediksi.exists %}
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editPrediksiModal{{ komentar_instance.id }}">
                                    Koreksi Label
                                </button>
                            {% elif komentar_instance.edit_prediksi.exists and komentar_instance.edit_prediksi.last.sudahditinjau %}
                                <p>Sudah pernah dikoreksi label</p>
                            {% else %}
                                <p>Koreksi Label Sedang Tinjau Admin</p>
                            {% endif %}
                        </td>
                        {% endif %} -->
                    </tr>

                    {% if komentar_instance.prediksi %}
                        <!-- Modal -->
                        <div class="modal fade" id="editPrediksiModal{{ komentar_instance.id }}" tabindex="-1" role="dialog" aria-labelledby="editPrediksiModalLabel{{ komentar_instance.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editPrediksiModalLabel{{ komentar_instance.id }}">Koreksi Label</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="pagination mt-4 d-flex justify-content-center">
        <ul class="pagination justify-content-center">
            {% if komentar.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ komentar.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Halaman {{ komentar.number }} dari {{ komentar.paginator.num_pages }}
                </span>
            </li>

            {% if komentar.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ komentar.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ komentar.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% else %}
        <div class="alert alert-danger">
            Gagal mendapatkan data berita.
        </div>
    {% endif %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var form = document.getElementById('predict-form');
    var predictButton = document.getElementById('predict-button');
    var buttonText = document.getElementById('button-text');
    var loadingSpinner = document.getElementById('loading-spinner');

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        // Show loading effect
        showLoading();

        // Submit form manually after loading effect is displayed
        setTimeout(function () {
            form.submit();
        }, 1000);  // After 1 second (adjust as needed)
    });

    function showLoading() {
        // Hide button text and show loading spinner
        buttonText.style.display = 'none';
        loadingSpinner.style.display = 'inline-block';
        predictButton.disabled = true;  // Disable the button during the loading process
    }
    
    // Check if the prediction process has completed (stop_prediction set by the view)
    if ('{{ request.stop_prediction }}') {
        showLoading();
    }
});
</script>

<!-- CSS untuk tabel responsif -->
<style>
@media (max-width: 768px) {
    .table thead {
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 1rem;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1rem;
        font-weight: bold;
        text-align: left;
    }
}
</style>

{% endblock %}
