{% extends 'base.html' %}

{% block title %}Detail Berita - {{ hasil_scrape.judul }}{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert" style="margin-top: 3em;">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% if hasil_scrape %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ hasil_scrape.judul }}</h2>
            <p class="card-text text-justify">{{ hasil_scrape.konten }}</p>
            <p class="card-text"><small class="text-muted">Sumber: <a href="{{hasil_scrape.link}}" target="_blank">{{hasil_scrape.link}}</a></small></p>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="col-12 col-md-6">
            <h3>Komentar: </h3>
            <h5 class="comment-count"><strong>({{ hasil_scrape.jumlah_komentar }} Komentar)</strong></h5>
        </div>
    
        {% if filtered_komentar|length == komentar|length %}
            <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <form id="predict-form" method="post" action="{% url 'predict_comments' berita_id=hasil_scrape.id %}" class="d-inline">
                    {% csrf_token %}
                    <button id="predict-button" type="submit" class="btn predict-btn mx-2">
                        <span id="button-text"><strong>Prediksi Komentar</strong></span>
                        <span id="loading-spinner" class="spinner" style="display: none;">Sedang menganalisis komentar...</span>
                    </button>
                </form>
            </div>
        {% else %}
            <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <div class="stat-box hate-count mx-1 mb-2">
                        Hate: {{ hate_count }}
                    </div>
                    <div class="stat-box non-hate-count mx-1 mb-2">
                        Non-hate: {{ non_hate_count }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>
                        <a style="color: black;" href="?sort=username&order={% if current_sort == 'username' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">
                            Username 
                            {% if current_sort == 'username' %}
                                <span class="sort-icon">{% if current_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}</span>
                            {% endif %}
                        </a>
                    </th>
                    <th>Komentar</th>
                    <th>
                        <a  style="color: black;" href="?sort=prediksi&order={% if current_sort == 'prediksi' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">
                            Prediksi 
                            {% if current_sort == 'prediksi' %}
                                <span class="sort-icon">{% if current_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}</span>
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a  style="color: black;" href="?sort=probabilitas&order={% if current_sort == 'probabilitas' and current_order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">
                            Probabilitas 
                            {% if current_sort == 'probabilitas' %}
                                <span class="sort-icon">{% if current_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}</span>
                            {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for komentar_instance in komentar %}
                    <tr class="align-items-center">
                        <td data-label="Username"><strong>{{ komentar_instance.penulis_komentar }}</strong></td>
                        <td data-label="Komentar">{{ komentar_instance.isi_komentar }}</td>
                        <td data-label="Prediksi" class="text-center">
                            {% if komentar_instance.prediksi == 'Hate' %}
                                <span class="badge badge-danger">{{ komentar_instance.prediksi }}</span>
                            {% elif komentar_instance.prediksi == 'Non-Hate' %}
                                <span class="badge badge-primary">{{ komentar_instance.prediksi }}</span>
                            {% else %}
                                <span class="badge badge-secondary">Belum diprediksi</span>
                            {% endif %}
                        </td>
                        <td data-label="Probabilitas" class="text-center">{{ komentar_instance.formatted_probabilitas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="pagination mt-4 d-flex justify-content-center">
        <ul class="pagination justify-content-center">
            {% if komentar.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ komentar.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Halaman {{ komentar.number }} dari {{ komentar.paginator.num_pages }}
                </span>
            </li>

            {% if komentar.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ komentar.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ komentar.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% else %}
        <div class="alert alert-danger">
            Gagal mendapatkan data berita.
        </div>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var form = document.getElementById('predict-form');
    var predictButton = document.getElementById('predict-button');
    var buttonText = document.getElementById('button-text');
    var loadingSpinner = document.getElementById('loading-spinner');

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        // Show loading effect
        showLoading();

        // Submit form manually after loading effect is displayed
        setTimeout(function () {
            form.submit();
        }, 1000);  // After 1 second (adjust as needed)
    });

    function showLoading() {
        // Hide button text and show loading spinner
        buttonText.style.display = 'none';
        loadingSpinner.style.display = 'inline-block';
        predictButton.disabled = true;  // Disable the button during the loading process
    }
    
    // Check if the prediction process has completed (stop_prediction set by the view)
    if ('{{ request.stop_prediction }}') {
        showLoading();
    }
});
</script>

<!-- CSS untuk tabel responsif -->
<style>
@media (max-width: 768px) {
    .table thead {
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 1rem;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1rem;
        font-weight: bold;
        text-align: left;
    }
}
a {
    display: inline-flex;
    align-items: center; /* Menyelaraskan teks dan ikon secara vertikal */
    white-space: nowrap; /* Mencegah teks dan ikon terpisah ke baris lain */
}

.sort-icon {
    font-size: 0.8em;
    margin-left: 2px;
}
/* Styling untuk komentar */
.comment-count {
    opacity: 0.75;
    margin-top: 0.2em;
}

/* Styling untuk tombol */
.predict-btn {
    border-radius: 20px;
    background-color: #005EA2;
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.predict-btn:hover, .predict-btn:focus {
    background-color: #004080;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    outline: none;
    color: #f0f0f0; /* Warna teks yang lebih lembut saat hover */
}

/* Styling untuk spinner */
.spinner {
    font-size: 0.9em;
    font-style: italic;
}

/* Styling untuk kotak statistik */
.stat-box {
    height: 35px;
    border-radius: 20px;
    border: 3px solid;
    font-size: 14px;
    font-weight: bold;
    padding: 0.2em 1em;
    text-align: center;
    transition: all 0.3s ease;
}

.hate-count {
    border-color: #dc3545;
    color: #dc3545;
}

.non-hate-count {
    border-color: #007bff;
    color: #007bff;
}

/* Efek hover yang lebih lembut dan elegan */
.stat-box:hover, .stat-box:focus {
    background-color: rgba(0, 0, 0, 0.05); /* Sedikit perubahan pada background */
    color: inherit; /* Warna teks tetap sesuai dengan kotak aslinya */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

</style>

{% endblock %}