{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h4><strong>History Approval Admin</strong></h4>
      <p class="opacity-75"><strong>Semua daftar koreksi label yang telah ditinjau</strong></p>
    </div>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-bordered table-striped">
      <thead class="text-center">
        <tr>
          <th>Nama</th>
          <th>Email</th>
          <th>Komentar</th>
          <th>Label Prediksi</th>
          <th>Label Seharusnya</th>
          <th>Status</th>
          <th>Remarks Admin</th>
          <th>Detail Berita</th> <!-- Kolom baru untuk button -->
        </tr>
      </thead>
      <tbody>
        {% for edit_request in edit_requests %}
        <tr>
          <td>{{ edit_request.nama }}</td>
          <td>{{ edit_request.email }}</td>
          <td>{{ edit_request.komentar.isi_komentar }}</td>
          <td class="text-center">
            {% if edit_request.prediksi_saat_ini == 'Hate' %}
            <span class="badge badge-danger">Hate</span>
            {% else %}
            <span class="badge badge-primary">Non-Hate</span>
            {% endif %}
          </td>
          <td class="text-center">
            {% if edit_request.prediksi_seharusnya == 'Hate' %}
            <span class="badge badge-danger">Hate</span>
            {% else %}
            <span class="badge badge-primary">Non-Hate</span>
            {% endif %}
          </td>
          <td class="text-center" style="color: '{% if edit_request.statusadmin == 'Approved' %}green{% elif edit_request.statusadmin == 'Rejected' %}red{% endif %}'">
            {{ edit_request.statusadmin }}
          </td>
          <td>{{ edit_request.remarks }}</td>
          <td class="text-center">
            <a href="{% url 'detail_berita' berita_id=edit_request.komentar.berita.id %}" class="btn btn-sm" style="background-color: #005EA2; color: #fff; border-radius: 20px;">Detail Berita</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Pagination -->
    <div class="pagination mt-4 d-flex justify-content-center">
      <ul class="pagination justify-content-center">
        {% if edit_requests.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ edit_requests.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">
            Halaman {{ edit_requests.number }} dari {{ edit_requests.paginator.num_pages }}
          </span>
        </li>

        {% if edit_requests.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ edit_requests.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ edit_requests.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}